In [2]:
import tensorflow as tf 
from tensorflow.keras.models import load_model
import pickle
import pandas as pd 
import numpy as np

In [3]:
model = load_model('models/model.h5')

with open('models/le_gender.pkl', 'rb') as file:
    le = pickle.load(file)
with open('models/ohe_geography.pkl', 'rb') as file:
    ohe = pickle.load(file)
with open('models/scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

In [21]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [22]:
input_data['Gender'] = le.transform([input_data['Gender']])[0]

In [23]:
geo = ohe.transform([[input_data['Geography']]]).toarray()
geo = pd.DataFrame(geo, columns = ohe.get_feature_names_out(['Geography']))

c:\ProgramData\Anaconda\envs\tfd10\lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [24]:
input_data = pd.DataFrame([input_data])
input_data = pd.concat([input_data.drop('Geography', axis = 1), geo], axis = 1)

input_data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [25]:
input_data = scaler.transform(input_data)

In [26]:
pred = model.predict(input_data)
pred

1/1 [==============================] - 0s 418ms/step

array([[0.07327081]], dtype=float32)

In [27]:
pred_proba = pred[0][0]
pred_proba

0.073270805

In [28]:
if pred_proba > 0.5:
    print('The customer is likely to churn')
else:
    print('The customer is not likely to churn')

The customer is not likely to churn