In [1]:
import pandas as pd 
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
df.drop(['RowNumber', 'CustomerId', 'Surname'], axis = 1, inplace = True)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
le_gender = LabelEncoder()
df['Gender'] = le_gender.fit_transform(df['Gender'])
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [5]:
from sklearn.preprocessing import OneHotEncoder

ohe_geography = OneHotEncoder()
geo_df = ohe_geography.fit_transform(df[['Geography']])
geo_df

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [6]:
ohe_geography.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [7]:
geo_df = pd.DataFrame(geo_df.toarray(), columns = ohe_geography.get_feature_names_out(['Geography']))
geo_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [8]:
df = pd.concat([df.drop('Geography', axis = 1), geo_df], axis = 1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [9]:
with open('models/le_gender.pkl', 'wb') as file:
    pickle.dump(le_gender, file)
    
with open('models/ohe_geography.pkl', 'wb') as file:
    pickle.dump(ohe_geography, file)

In [10]:
X = df.drop('EstimatedSalary', axis=1)
y = df['EstimatedSalary']

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 42)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [15]:
with open('models/reg_scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [ ]:
import tensorflow as tf 
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import datetime

In [17]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)
])

In [18]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2,945
Trainable params: 2,945
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(optimizer='adam', metrics=['mae'], loss = 'mean_absolute_error')

In [20]:
# Set up Tensorboard
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
log_dir = 'reg_logs/fit/' + datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensorflow_callback = TensorBoard(log_dir = log_dir,histogram_freq=1)

In [21]:
#Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience = 10, restore_best_weights = True)

history = model.fit(
    X_train, y_train, validation_data = (X_test, y_test), epochs = 100,
    callbacks = [early_stopping_callback, tensorflow_callback]
    )

Epoch 1/100
250/250 [==============================] - 3s 8ms/step - loss: 100365.2344 - mae: 100365.2344 - val_loss: 98475.3516 - val_mae: 98475.3516
Epoch 2/100
250/250 [==============================] - 2s 7ms/step - loss: 99508.3125 - mae: 99508.3125 - val_loss: 96772.4453 - val_mae: 96772.4453
Epoch 3/100
250/250 [==============================] - 2s 7ms/step - loss: 96588.2656 - mae: 96588.2656 - val_loss: 92532.0078 - val_mae: 92532.0078
Epoch 4/100
250/250 [==============================] - 2s 8ms/step - loss: 90932.1719 - mae: 90932.1719 - val_loss: 85533.9766 - val_mae: 85533.9766
Epoch 5/100
250/250 [==============================] - 3s 10ms/step - loss: 82799.4922 - mae: 82799.4922 - val_loss: 76675.5312 - val_mae: 76675.5312
Epoch 6/100
250/250 [==============================] - 1s 6ms/step - loss: 73416.1562 - mae: 73416.1562 - val_loss: 67680.4297 - val_mae: 67680.4297
Epoch 7/100
250/250 [==============================] - 1s 6ms/step - loss: 64596.8477 - mae: 64596.8477 - val_loss: 60056.5586 - val_mae: 60056.5586
Epoch 8/100
250/250 [==============================] - 2s 6ms/step - loss: 57828.5508 - mae: 57828.5508 - val_loss: 55031.5547 - val_mae: 55031.5547
Epoch 9/100
250/250 [==============================] - 1s 6ms/step - loss: 53643.4023 - mae: 53643.4023 - val_loss: 52272.7148 - val_mae: 52272.7148
Epoch 10/100
250/250 [==============================] - 2s 7ms/step - loss: 51532.7539 - mae: 51532.7539 - val_loss: 51236.5430 - val_mae: 51236.5430
Epoch 11/100
250/250 [==============================] - 2s 7ms/step - loss: 50666.2031 - mae: 50666.2031 - val_loss: 50903.3320 - val_mae: 50903.3320
Epoch 12/100
250/250 [==============================] - 2s 8ms/step - loss: 50360.0156 - mae: 50360.0156 - val_loss: 50778.5781 - val_mae: 50778.5781
Epoch 13/100
250/250 [==============================] - 2s 9ms/step - loss: 50235.1094 - mae: 50235.1094 - val_loss: 50720.6367 - val_mae: 50720.6367
Epoch 14/100
250/250 [==============================] - 2s 9ms/step - loss: 50160.8750 - mae: 50160.8750 - val_loss: 50664.3320 - val_mae: 50664.3320
Epoch 15/100
250/250 [==============================] - 2s 8ms/step - loss: 50100.6758 - mae: 50100.6758 - val_loss: 50626.4414 - val_mae: 50626.4414
Epoch 16/100
250/250 [==============================] - 2s 8ms/step - loss: 50052.4961 - mae: 50052.4961 - val_loss: 50584.0352 - val_mae: 50584.0352
Epoch 17/100
250/250 [==============================] - 2s 8ms/step - loss: 50006.6914 - mae: 50006.6914 - val_loss: 50554.7266 - val_mae: 50554.7266
Epoch 18/100
250/250 [==============================] - 2s 8ms/step - loss: 49968.7734 - mae: 49968.7734 - val_loss: 50516.1445 - val_mae: 50516.1445
Epoch 19/100
250/250 [==============================] - 2s 8ms/step - loss: 49936.8438 - mae: 49936.8438 - val_loss: 50493.5117 - val_mae: 50493.5117
Epoch 20/100
250/250 [==============================] - 2s 8ms/step - loss: 49903.0430 - mae: 49903.0430 - val_loss: 50463.4375 - val_mae: 50463.4375
Epoch 21/100
250/250 [==============================] - 2s 8ms/step - loss: 49876.0586 - mae: 49876.0586 - val_loss: 50441.3906 - val_mae: 50441.3906
Epoch 22/100
250/250 [==============================] - 2s 9ms/step - loss: 49848.6836 - mae: 49848.6836 - val_loss: 50424.6328 - val_mae: 50424.6328
Epoch 23/100
250/250 [==============================] - 2s 8ms/step - loss: 49824.5156 - mae: 49824.5156 - val_loss: 50413.9062 - val_mae: 50413.9062
Epoch 24/100
250/250 [==============================] - 2s 8ms/step - loss: 49799.3516 - mae: 49799.3516 - val_loss: 50382.9805 - val_mae: 50382.9805
Epoch 25/100
250/250 [==============================] - 2s 7ms/step - loss: 49783.2266 - mae: 49783.2266 - val_loss: 50363.8945 - val_mae: 50363.8945
Epoch 26/100
250/250 [==============================] - 1s 5ms/step - loss: 49760.5273 - mae: 49760.5273 - val_loss: 50355.4688 - val_mae: 50355.4688
Epoch 27/100
250/250 [==============================] - 1s 5ms/step - loss: 49742.1875 - mae: 49742.1875 - val_loss: 50336.5312 - val_mae: 50336.5312
Epoch 28/100
250/250 [==============================] - 1s 6ms/step - loss: 49724.7227 - mae: 49724.7227 - val_loss: 50319.2969 - val_mae: 50319.2969
Epoch 29/100
250/250 [==============================] - 1s 6ms/step - loss: 49709.8477 - mae: 49709.8477 - val_loss: 50312.5938 - val_mae: 50312.5938
Epoch 30/100
250/250 [==============================] - 1s 6ms/step - loss: 49695.6836 - mae: 49695.6836 - val_loss: 50305.9062 - val_mae: 50305.9062
Epoch 31/100
250/250 [==============================] - 1s 6ms/step - loss: 49678.7930 - mae: 49678.7930 - val_loss: 50306.7656 - val_mae: 50306.7656
Epoch 32/100
250/250 [==============================] - 1s 6ms/step - loss: 49668.1914 - mae: 49668.1914 - val_loss: 50291.4609 - val_mae: 50291.4609
Epoch 33/100
250/250 [==============================] - 1s 5ms/step - loss: 49657.8438 - mae: 49657.8438 - val_loss: 50285.6250 - val_mae: 50285.6250
Epoch 34/100
250/250 [==============================] - 2s 7ms/step - loss: 49650.7656 - mae: 49650.7656 - val_loss: 50282.0234 - val_mae: 50282.0234
Epoch 35/100
250/250 [==============================] - 1s 5ms/step - loss: 49631.8828 - mae: 49631.8828 - val_loss: 50264.3359 - val_mae: 50264.3359
Epoch 36/100
250/250 [==============================] - 1s 6ms/step - loss: 49624.4453 - mae: 49624.4453 - val_loss: 50271.2734 - val_mae: 50271.2734
Epoch 37/100
250/250 [==============================] - 2s 6ms/step - loss: 49613.1914 - mae: 49613.1914 - val_loss: 50273.0547 - val_mae: 50273.0547
Epoch 38/100
250/250 [==============================] - 1s 6ms/step - loss: 49606.4141 - mae: 49606.4141 - val_loss: 50279.3594 - val_mae: 50279.3594
Epoch 39/100
250/250 [==============================] - 2s 7ms/step - loss: 49596.3594 - mae: 49596.3594 - val_loss: 50279.3555 - val_mae: 50279.3555
Epoch 40/100
250/250 [==============================] - 2s 8ms/step - loss: 49584.1445 - mae: 49584.1445 - val_loss: 50275.5117 - val_mae: 50275.5117
Epoch 41/100
250/250 [==============================] - 1s 5ms/step - loss: 49577.7422 - mae: 49577.7422 - val_loss: 50271.0156 - val_mae: 50271.0156
Epoch 42/100
250/250 [==============================] - 2s 6ms/step - loss: 49565.9922 - mae: 49565.9922 - val_loss: 50262.7305 - val_mae: 50262.7305
Epoch 43/100
250/250 [==============================] - 1s 6ms/step - loss: 49560.4570 - mae: 49560.4570 - val_loss: 50265.2305 - val_mae: 50265.2305
Epoch 44/100
250/250 [==============================] - 1s 5ms/step - loss: 49556.6328 - mae: 49556.6328 - val_loss: 50273.8750 - val_mae: 50273.8750
Epoch 45/100
250/250 [==============================] - 2s 6ms/step - loss: 49544.9062 - mae: 49544.9062 - val_loss: 50273.6250 - val_mae: 50273.6250
Epoch 46/100
250/250 [==============================] - 2s 6ms/step - loss: 49538.4766 - mae: 49538.4766 - val_loss: 50269.3125 - val_mae: 50269.3125
Epoch 47/100
250/250 [==============================] - 1s 5ms/step - loss: 49530.9219 - mae: 49530.9219 - val_loss: 50256.2891 - val_mae: 50256.2891
Epoch 48/100
250/250 [==============================] - 2s 7ms/step - loss: 49524.5000 - mae: 49524.5000 - val_loss: 50259.8281 - val_mae: 50259.8281
Epoch 49/100
250/250 [==============================] - 2s 9ms/step - loss: 49518.7461 - mae: 49518.7461 - val_loss: 50260.8359 - val_mae: 50260.8359
Epoch 50/100
250/250 [==============================] - 2s 8ms/step - loss: 49515.3398 - mae: 49515.3398 - val_loss: 50260.0781 - val_mae: 50260.0781
Epoch 51/100
250/250 [==============================] - 2s 8ms/step - loss: 49506.2500 - mae: 49506.2500 - val_loss: 50263.3750 - val_mae: 50263.3750
Epoch 52/100
250/250 [==============================] - 2s 7ms/step - loss: 49500.0938 - mae: 49500.0938 - val_loss: 50256.9453 - val_mae: 50256.9453
Epoch 53/100
250/250 [==============================] - 2s 8ms/step - loss: 49496.0547 - mae: 49496.0547 - val_loss: 50268.8984 - val_mae: 50268.8984
Epoch 54/100
250/250 [==============================] - 2s 6ms/step - loss: 49491.7969 - mae: 49491.7969 - val_loss: 50267.5234 - val_mae: 50267.5234
Epoch 55/100
250/250 [==============================] - 2s 7ms/step - loss: 49486.5195 - mae: 49486.5195 - val_loss: 50278.9805 - val_mae: 50278.9805
Epoch 56/100
250/250 [==============================] - 1s 5ms/step - loss: 49477.5117 - mae: 49477.5117 - val_loss: 50263.1836 - val_mae: 50263.1836
Epoch 57/100
250/250 [==============================] - 2s 7ms/step - loss: 49476.3320 - mae: 49476.3320 - val_loss: 50264.2539 - val_mae: 50264.2539

In [26]:
# Load Tensorboard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [27]:
%tensorboard --logdir reg_logs/fit/

Reusing TensorBoard on port 6006 (pid 27096), started 0:00:15 ago. (Use '!kill 27096' to kill it.)

In [28]:
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 7ms/step - loss: 50256.2891 - mae: 50256.2891
Test MAE : 50256.2890625

In [ ]:
model.save('models/reg_model.h5')